<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Key</key>
			<string>grp</string>
			<key>FooterText</key>
			<string>Portions of this software may utilize the following copyrighted material, the use of which is hereby acknowledged:


VisualPharm – (Icons8)
https://icons8.com
Distributed under the Creative Commons Attribution-NoDerivs 3.0 Unported.


danielgindi - (Charts)
https://github.com/danielgindi/Charts
Copyright 2016 Daniel Cohen Gindi &amp; Philipp Jahoda
Licensed under the Apache License, Version 2.0 (the &quot;License&quot;); you may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0

            </string>
		</dict>
	</array>
</dict>
</plist>
